<?xml version="1.0"?>
<configuration>

    <system.serviceModel>
    <services>
      <service name="WcfJson.ServiceApp">
        <endpoint name="WcfJsonService"
                  address=""
                  binding="webHttpBinding" 
                  behaviorConfiguration="json" 
                  contract="WcfJson.IServiceApp"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>